# 共通
.DS_Store
.vscode/

# react.js_next.js_book
react.js_next.js_book/react_app/node_modules
react.js_next.js_book/react_app/build
react.js_next.js_book/05_next_app/node_modules
react.js_next.js_book/05_next_app/build
# react.js_udemy
react.js_udemy/react_app/node_modules
react.js_udemy/react_app/build
react.js_udemy/01-06_react_app/node_modules
react.js_udemy/01-06_react_app/build
react.js_udemy/02-03_react_app/node_modules
react.js_udemy/02-03_react_app/build
react.js_udemy/02-04_react_app/node_modules
react.js_udemy/02-04_react_app/build
react.js_udemy/02-05_react_app/node_modules
react.js_udemy/02-05_react_app/build
react.js_udemy/02-06_react_app/node_modules
react.js_udemy/02-06_react_app/build
react.js_udemy/02-07_react_app/node_modules
react.js_udemy/02-07_react_app/build
react.js_udemy/02-08_react_app/node_modules
react.js_udemy/02-08_react_app/build
react.js_udemy/02-09_react_app/node_modules
react.js_udemy/02-09_react_app/build
react.js_udemy/02-10_react_app/node_modules
react.js_udemy/02-10_react_app/build
react.js_udemy/02-11_react_app/node_modules
react.js_udemy/02-11_react_app/build

# typescript_udemy
typescript_udemy/node_modules
typescript_udemy/*.js
